<html>
    <head>
            <link rel="stylesheet" href="estilos.css">
    </head>
    <body>
        <header>
            <h1>📐📎 PAPELERIA S&J 📒📏</h1>
            <a href="inicio.html"><button>🏠 INICIO</button></a>
            <a href="ventas.html"><button>💰 VENTAS</button></a>
            <a href="inventario.html"><button>📦 INVENTARIO</button></a>
        </header>
        
        
        <h1>📑 FACTURACIÓN</h1>
        <h3>🔍 Buscar producto por nombre</h3>
        <div class="buscar-container">
            <input type="text" id="buscarPorNombre" placeholder="Ingrese nombre">
            <button onclick="buscarPorNombre()">Buscar</button>
        </div>
        
        <h2>📋 Productos encontrados</h2>
        <table>
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Nombre</th>
                    <th>Precio Unitario</th>
                    <th>Stock</th>
                    <th>Precio de Venta</th>
                    <th>Cantidad a Facturar</th>
                </tr>
            </thead>
            <tbody id="tabla_busqueda"></tbody>
        </table>
        <button onclick="generarFacturaMultiple()">🧾 Generar Factura</button>
        <button onclick="nuevaCompra()">🛒 Nueva Compra</button>
        <div id="tabla_carrito"></div>
        <div id="recibo"></div> 
             
        
        <script src="funciones.js"></script>
    </body>
</html>
