<html>
    <head></head>
    <body>
        <h1>📐📎 PAPELERIA S&J 📒📏</h1>
        <a href="inicio.html"><button>🏠 INICIO</button></a>
        <a href="ventas.html"><button>💰 VENTAS</button></a>
        <a href="inventario.html"><button>📦 INVENTARIO</button></a>
        <h1>📑 FACTURACIÓN</h1>
        <h3>🔍 Buscar producto por nombre</h3>
        <input type="text" id="buscar_nombre" placeholder="Ingrese nombre">
        <button onclick="buscarPorNombre()">Buscar</button>
        
        <h2>📋 Productos encontrados</h2>
        <table>
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Nombre</th>
                    <th>Precio Unitario</th>
                    <th>Stock</th>
                    <th>Precio de Venta</th>
                    <th>Cantidad a Facturar</th>
                </tr>
            </thead>
            <tbody id="base_datos_inventario"></tbody>
        </table>
        <button onclick="generarFacturaMultiple()">🧾 Generar Factura</button>
        <button onclick="nuevaCompra()">🛒 Nueva Compra</button>
        
        <h2>Productos seleccionados: </h2>
        <table>
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Nombre</th>
                    <th>Cantidad</th>
                    <th>Precio Venta</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody id="tabla_carrito"></tbody>
        </table>
        <h2>📋 Facturas Registradas</h2>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Total General</th>
                    <th>Fecha</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody id="Tabla_facturas"></tbody>
        </table>
        
        <div id="recibo"></div> 
        
        <script src="funciones.js"></script>
    </body>
</html>
