<html>
<head>
    <meta charset="UTF-8">
    <title>Inicio - Papelería S&J</title>
    <link rel="stylesheet" href="estilos.css">
    
</head>
<body>
    <header>
        <h1>📐📎 PAPELERIA S&J 📒📏</h1>
    </header>
        
    <nav>
        <button onclick="location.href='inventario.html'">📦 INVENTARIO</button>
        <br>
        <button onclick="location.href='ventas.html'">💰 VENTAS</button>
        <br>
        <button onclick="location.href='facturacion.html'">📑 FACTURACIÓN</button>
        <br>
    </nav>
</body>
</html>
