<html>
    <head>

    </head>
    <body>
        <a href="inicio.html">
             <button>🏠 PAGINA DE INICIO</button>
        </a>
        <a href="ventas.html">
            <button>💰 VENTAS</button>
        </a>
        <a href="facturacion.html">
            <button>📑 FACTURACION</button>
        </a>
        <h1>📦 INVENTARIO</h1>
        <br>
        <form id="FormularioElemento">
            <label>Codigo: </label>
            <input type = "number" id ="codigo" required>
            <label>Nombre: </label>
            <input type = "text" id ="Nombre_elemento" required>
            <label>Precio unitario: </label>
            <input type = "number" id ="precio_unitario" required>
            <label>Cantidad: </label>
            <input type = "number" id ="cantidad_exis" required>           
            
            <button type = "submit">Agregar</button>
            <button type="button" onclick="guardarCambios()">Guardar Cambios</button>
        </form>     
        <h3>🔍 Buscar elemento por nombre</h3>
        <input type="text" id="buscar_nombre" placeholder="Ingrese nombre">
        <button onclick="buscarElementoNombre()">Buscar</button>
        <button onclick="cargarDatosInventario()">🔄 Ver todos</button>

        
        <table>
            <thead>
                <th>CODIGO</th>
                <th>NOMBRE ELEMENTO</th>
                <th>PRECIO UNITARIO</th>
                <th>CANTIDAD EXISTENTE</th>
                <th>PRECIO DE VENTA</th>
            </thead>
            
            <tbody id = "base_datos_inventario">
            </tbody>

        </table>
        <br>    
        
        <script src="funcionesInventario.js"></script>
    </body>
</html>