<html>
    <head>

    </head>
    <body>
        <h1>💰 VENTAS</h1>
        <br>
         <table>
            <thead>
                <th>CODIGO</th>
                <th>NOMBRE ELEMENTO</th>
                <th>CANTIDAD</th>
                <th>PRECIO UNITARIO</th>
                <th>PRECIO TOTAL</th>
            </thead>
            <tbody id = "base_datos_ventas">
            </tbody>
        </table>
        <br>
        <script>
            async function cargarDatosventas() {
                try{
                    const respuesta = await fetch('http://127.0.0.1:5000/ventas');
                    const datos = await respuesta.json();
                    const cuerpoTabla = document.getElementById("base_datos_ventas");
                    cuerpoTabla.innerHTML = " ";
                    datos.forEach((item) => {
                        const fila = document.createElement('tr');
                        fila.innerHTML = `
                            <td>${item.codigo}</td>
                            <td>${item.Nombre_elemento}</td>
                            <td>${item.precio_unitario}</td>
                            <td>${item.cantidad_exis}</td>
                            <td>${item.precio_venta}</td>
                        `;
                        cuerpoTabla.appendChild(fila);
                    });
                }catch(error){
                    console.log("El error fue: "+error)
                }
            }

            
            document.addEventListener('DOMContentLoaded',cargarDatosventas);
        </script>
        <a href="/inicio">
             <button>🏠 PAGINA DE INICIO</button>
        </a>
    </body>
</html>